@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Nom: @ViewBag.Nom
<br />
Prénom: @ViewData["Prenom"]
<br />
Formation: @TempData["Formation"]
<br />
Verssion: @Session["Verssion"]
